---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">
    <h2>How do I join?</h2>
<p><b>Fill out the form below + add the webring code to your website. That's it!</b></p>

<p>    If you're a comics creator and you want to join the webring, use this form to sign up. <b>If you have more than one project website, please submit your portfolio site or just choose one representative website for all your work</b> — one website per creator please.</P>
    {% include 'signupform.njk' %}

        <p>The admins will then look at your site and handle your request. It might take a few days. A real life human has to look at it and approve your submission! (So retro, isn't it?)
    </p>


    <h2>Add the banner</h2>
    <p>
    Then, copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

<p>Having webring banners on member sites is what makes a webring really work! Usually you want to put them somewhere somewhat visible, like at the bottom of an index page. This way when someone's ready to check out other artists in the ring, they can easily navigate around. So if you're joining the webring, don't skip adding the webring code snippet to your site.</p> 
    <p>
        When you place the code snippet, the banner will look like this:
    </p>

    {% include 'snippet.njk' %}

<h2>What's this?</h2>
<p>A curated community of sites around a common topic, a 90s vestige called a webring. Each member includes a badge on their site that links to the previous and next sites in the ring. It's an awesome way to discover new artists, especially since the ring is managed by a real human being and not some random algorithm.</p>

<h2>Questions?</h2>
<p>
Get in touch with me ->  mphotinakis@gmail.com</P>

</div>