---
layout: base
---

{% include 'webring.njk' %}

<div class="markdown">

    <h2>How to join</h2>
    <p>
        To join the webring, use this form to sign up. The webring admins will then look at your site and handle your request.</P
        <p>You'll get an email if you're approved — it's not instant! It might take a few days. A real life human has to look at it and approve your request! (So retro, isn't it?)
    </p>

    {% include 'signupform.njk' %}

    <h2>Add the banner</h2>
    <p>
        Once you've been added to the ring (again, you'll get an email) copy this code snippet into your site:
    </p>

    {% highlight 'html' %}{% include 'snippet.njk' %}{% endhighlight %}

    <p>
        It will render this banner that links to the other members:
    </p>

    {% include 'snippet.njk' %}


<h2>Questions?</h2>
<p>
Get in touch with me ->  mphotinakis@gmail.com</P>

{% include 'github.njk' %}

</div>